footer{
    height: 20vh;
    display: flex;
    button: 0;
}
div{
        span{
            a{
            }
        }
        ul{
            li{
                #enlacesocial{
                }
            }
        }
}

